<%- include("../templates/header") %> 
<%- include("../templates/navlogout", user) %> 

<div class="container admin-dashboard">
    <div class="heading-content">
        <h2 class="title-container">Edit A Product # <%= product.id %> </h2>
        <div>
            <a href="/adminDashboard">Return to dashboard</a>
        </div>
    </div>
    <!-- Add Prodict ID to save later -->
    <form class="form-info" action=<%= `/save/${product.id}` %> method="post">
        <label for="product_name">Name:</label>
        <input type="text" name="product_name" value=<%= product.product_name %> >

        <label for="product_description">Description: </label>
        <textarea name="product_description" id="" cols="30" rows="10"><%= product.product_description %> </textarea>

        <label for="prodcut_price">Price: </label>
        <input type="text" name="product_price" value=<%= product.product_price %> >

        <label for="product_inventory">Inventory Count: </label>
        <div class="qty-area">
            <input class="quantity-selector" name="product_inventory" type="text"  value=<%= product.product_inventory  %> readonly>
            <div class="quantity-option">
                <button class="up" type="button">▲</button>
                <button class="down" type="button">▼</button>
            </div>
        </div>
        <!-- <input type="hidden" name="id" value=<%# product.id %> > -->
        <input type="submit" value="Save">
        <% if (success) { %>
            <p class="success">Product successfully updated!</p>
        <% } %>
    </form>
</div>

</body>

</html>